@page
@model Exercicio6Model
@{
    ViewData["Title"] = "Exercício 6";
    <style>
        p.tag1 {
            font-size: 20pt;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
        }

        label {
            font-size: 15pt;
            margin-top: 25px;
            text-align: center;
        }

        button {
            margin-top: 15px;
            box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
            text-align: center;
        }

        p {
            margin-top: 25px;
            text-align: center;
            font-size: 20pt;
        }
        a.tag2 {
            color: black
        }

        a:hover {
            color: tomato;
        }

        label.parabens {
            font-size: 15pt;
            color: green;
        }
    </style>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
}

<div class="text-center">
    <form method="post">
        <h1>Exercício 6</h1>
        <br />
        <p class="tag1">Reajuste Salarial</p>
        <br />
        <label>Qual o Seu Sálario atual??</label>
        <input id="Salario" name="Salario" />
        <br />
        <button type="submit" id="btn_ShowResult">Pressione para ver o Resultado</button>
        <br />
        <label class="parabens">@Html.LabelForModel(Model.Salario)</label>
        <p><a class="tag2" href="/exercicio7">Clique Para Avançarmos.</a>.</p>
    </form>
</div>
