@page
@model IndexModel
@{
    ViewData["Title"] = "Página inicial";
    <style>
        p {
            text-align: justify;
            text-align: center;
            margin-top: 100px;
            color: black;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        }

            p span {
                text-align: center;
                background-color: ghostwhite;
                box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
                padding: 10px;
            }

        a {
            color: black;
        }

            a:hover {
                color: crimson;
                text-decoration: underline;
            }

        label 1 {
            text-align: justify;
        }

        label 2 {
            text-align: justify;
        }
    </style>
}

<h1>Login</h1>
<br />
<p>
    <form method="post">
        <label>Usuário:</label>
        <input id="Login" name="Login" class="form-control" />
        <label>Senha:</label>
        <input id="Password" name="Password" class="form-control" />
        <button type="submit" id="btn_Showresult">Entrar</button> / <button type="button" id="acessar"><a href="/Cadastrar">Criar novo Usuário</a></button>
        <br />
        <label>@Html.LabelForModel(Model.Login)</label>
        @* Validar se o usuario existe e se a senha é compativel *@
        @* Create new user - Direcionar para a tela de cadastro de usuario *@
    </form>
</p>


