@page
@model PaginaInicialModel
@{
    ViewData["Title"] = "Página inicial";
    <style>
        p{
            text-align: justify;
            text-align: left;
            margin-top: 10px;
            color: black;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        }
            p span {
                background-color: ghostwhite;
                box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
                padding: 10px;
            }

        a {
            color: black;
        }
        a:hover{
            color: crimson;
            text-decoration: underline;
        }
    </style>
}

    <div class="text-center">
        <h1 class="display-4">Exercícios</h1>
        <p><span>Para acessar o exercicio 1 <a href="/exercicio1">Clique Aqui</a>.</span></p>
        <p><span>Para acessar o exercicio 2 E 3 <a href="/exercicio2e3">Clique Aqui</a>.</span></p>
        <p><span>Para acessar o exercicio 4 <a href="/exercicio4">Clique Aqui</a>.</span></p>
        <p><span>Para acessar o exercicio 5 <a href="/exercicio5">Clique Aqui</a>.</span></p>
        <p><span>Para acessar o exercicio 6 <a href="/exercicio6">Clique Aqui</a>.</span></p>
        <p><span>Para acessar o exercicio 7 <a href="/exercicio7">Clique Aqui</a>.</span></p>
        <p><span>Para acessar o exercicio 8 <a href="/exercicio8">Clique Aqui</a>.</span></p>
        <p><span>Para acessar o exercicio 9 <a href="/Exer9">Clique Aqui</a>.</span></p>
        <p><span>Para acessar o exercicio 10 <a href="/exercicio99">Clique Aqui</a>.</span></p>
    </div>
